
<div class="d-flex justify-content-center">
   <div>
   <%= render "form", contestant: @contestant %>
    </div>
<div>

<br>

<div>
  <%= link_to "Back to contestants", contestants_path , class: "btn btn-danger" %>
</div>
