<p style="color: green"><%= notice %></p>

<h1>Contestants</h1>

<div id="contestants">
  <% @contestants.each do |contestant| %>
    <%= render contestant %>
    <p>
      <%= link_to "Show this contestant", contestant %>
    </p>
     <% if contestant.number_of_votes <= 0 %>

    <button> add vote </button>
    <% end %>
  <% end %>
  
          
</div>
<%if can? :create, Contestant%>
  <p>
    <%= link_to "New Contestant", new_contestant_path %>
  </p>
<%end%>

