
<div class="d-flex  justify-content-center " >
  <div>

   <%= render "form", contestant: @contestant %>
   </div>
   
   
       <%= link_to "Back to Contestants", contestants_path , class:"d-flex text-decoration-none w-50 my-3 btn btn-danger" %>
   
  


</div>

