<p style="color: green"><%= notice %></p>

<%= render @contestant %>
<p> Members who voted for <%= @contestant.name %> </p>

<% @contestant.votes.each do |vote| %>
    <p> <%= vote.user.name %> </p>
<% end %>



